html,
body {
    background-color: #050F13;
    display: flex;
    justify-content : center;
    font-size: 10px;
}

#container-parent {
    margin-top: 7rem;
    background-color : #10242B;
    width: 44rem;
    padding: 3rem;;
    border-radius : 5%;
}

#calculator {
    background-color:#0F1E25;
    padding : 26px;
    border-radius: 5%;
}

#display-screen {
    background-color: #1e521e;
    color : rgb(209, 208, 208);
    display:flex;
    justify-content: end;
    height: 10rem;
    border-radius: 2%;
}

#display {
    font-size: 4.5rem;
    margin-right : 1rem;
    margin-top: 4rem;
}

.button {
    width: 9.5rem;
    height: 8.5rem;
    font-size: 20px;
    background-color : #232f53;
    color: rgb(209, 208, 208);
    border: none;
    border-radius:10%;
}

#clear-delete {
    padding-top : 1rem;
    padding-bottom: 1rem;
    display:flex;
    justify-content: center;
}

#clear, #delete {
    height: 6rem;
    width : 19rem;
    font-size: 20px;
    color : rgb(209, 208, 208);
    border: none;
    border-radius: 10%;
}
#clear {margin-right: 0.5em;}

#keypad {
    display: flex;
    justify-content: center;
    display: grid;
    gap: 1%;
}

#clear {
    background-color : #804646;
}

#delete {
    background-color: #5F6E9E;
}

#add,
#subtract,
#multiply,
#divide {
    background-color: #7A4685;
}
