html,
body {
    background-color: rgb(5, 15, 19);
    display: flex;
    justify-content : center;
    font-size: 10px;
}

#container-parent {
    margin-top: 7rem;
    background-color : rgb(16, 36, 43);
    width: 44rem;
    padding: 3rem;;
    border-radius : 5%;
}

#calculator {
    background-color:rgb(15, 30, 37);
    padding : 26px;
    border-radius: 5%;
}

#display-screen {
    background-color: rgb(37, 65, 37);
    color : rgb(209, 208, 208);
    display:flex;
    justify-content: end;
    height: 11rem;
}

#display {
    font-size: 4.5rem;
    margin-right : 1rem;
}

.button {
    width: 9.5rem;
    height: 8.5rem;
    font-size: 20px;
    background-color :rgb(5, 15, 19);
    color: rgb(209, 208, 208);
    border: none;
    border-radius:10%;
}

#clear-delete {
    padding-top : 1rem;
    padding-bottom: 1rem;
    display:flex;
    justify-content: center;
}

#clear, #delete {
    height: 6rem;
    width : 19rem;
    font-size: 20px;
    background-color:rgb(5, 15, 19);
    color : rgb(209, 208, 208);
    border: none;
    border-radius: 10%;
}
#clear {margin-right: 0.5em;}

#keypad {
    display: flex;
    justify-content: center;
    display: grid;
    gap: 1%;
}


